<%- include header %>
    <div class="jumbotron">
        <h1>Status</h1>
        <table class="table table-user-information">
            <tbody>
            <tr style="background: white; color:black; font-weight:700; font-size: 1.5rem;">
                            
                <th class='table-center' style='position: sticky;top: 0;background: white;text-align:center'>Photo_id</th>
                <th class='table-center' style='position: sticky;top: 0;background: white;text-align:center'>Filename</th>
                <th class='table-center' style='position: sticky;top: 0;background: white;text-align:center'>Timestamp</th>
                <th class='table-center' style='position: sticky;top: 0;background: white;text-align:center'>Status</th>
                <th class='table-center' style='position: sticky;top: 0;background: white;text-align:center'>Download</th>
            </tr>
            <% if(data.length){ 
              for(var i = 0;i < data.length;i++) { %>
            <tr>
                <th class='table-center' style='position: sticky;top: 0;background: white;text-align:center'><%=data[i].photo_id%></th>
                <th class='table-center' style='position: sticky;top: 0;background: white;text-align:center'><%=data[i].input_path%></th>
                <th class='table-center' style='position: sticky;top: 0;background: white;text-align:center'><%=data[i].time%></th>
                <th class='table-center' style='position: sticky;top: 0;background: white;text-align:center'><%=data[i].result%></th>
                <th class='table-center' style='position: sticky;top: 0;background: white;text-align:center'><%=data[i].output_path%></th>
            </tr>
            <% }
            }else{ %>
            <tr>
              <td colspan="5" ,rowspan="5"style='position: sticky;top: 0;background: white;text-align:center;height:200px'>nodata</td>
            </tr>
          <% } %>

            </tbody>
        </table>
        


    </div>
<%- include footer %>

